.fa-mobile-alt, .fa-ellipsis-v, .fa-bars, .fa-store {
  color: #777777;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.btn {
  cursor: pointer;
  width: 210px;
  background: #ff79da;
  background: linear-gradient(178deg, #ff79da 0%, #9356dc 100%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0 15px 0;
  border-radius: 40px;
  border: 0;
  -webkit-box-shadow: 0 4px 8px 0 #b6b5b5;
          box-shadow: 0 4px 8px 0 #b6b5b5;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0 10px 8px 0 #646363;
          box-shadow: 0 10px 8px 0 #646363;
}

.img-top {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .logo {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .fa-arrow-left {
    padding-right: 20px;
  }
}

.bigBloc {
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  position: relative;
  margin-top: 230px;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.bigBloc__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 992px) {
  .bigBloc__header {
    width: 90%;
  }
}

.bigBloc__titre {
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 0;
}

.bigBloc__icon {
  padding-right: 5%;
}

@media screen and (min-width: 992px) {
  .bigBloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.typePlat__ligne {
  border-top: 3px solid #99e2d0;
  width: 40px;
  margin-top: 4px;
}

.typePlat__titre {
  margin-top: 50px;
}

@media screen and (min-width: 992px) {
  .typePlat {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bloctypePlat {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;
          box-shadow: 0 4px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;
  opacity: 0;
  -webkit-animation: apparition 900ms forwards;
          animation: apparition 900ms forwards;
}

.bloctypePlat--1 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.bloctypePlat--2 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.bloctypePlat--3 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.bloctypePlat__titre {
  margin: 0;
  padding-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bloctypePlat__contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bloctypePlat__contenuPrix {
  font-weight: 700;
}

.bloctypePlat__contenuResum {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  .bloctypePlat {
    width: 90%;
  }
}

.contain-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

@media screen and (min-width: 992px) {
  .contain-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
}

.bloctypePlat--1,
.bloctypePlat--2,
.bloctypePlat--3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bloc-sans-anim {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 2%;
  padding-right: 5%;
  padding-bottom: 13px;
  padding-top: 13px;
  flex-grow: 1;
}

.bloc-avec-anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  border-radius: 0 20% 20% 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.fa-check-circle {
  color: white;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
}

.bloctypePlat:hover .bloc-avec-anim {
  width: 80px;
}

.bloctypePlat:hover .bloc-avec-anim > .fa-check-circle {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.bigBloc__icon {
  position: relative;
}

.bigBloc__icon:hover > .coeur {
  opacity: 0;
}

.bigBloc__icon:hover > .coeur-fill {
  opacity: 1;
}

.coeur {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}

.coeur-fill {
  cursor: pointer;
  background: linear-gradient(178deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}

footer {
  height: 200px;
  background-color: #2f2f2f;
  color: white;
  padding-top: 25px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.titre-footer {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  padding-left: 30px;
}

.contain-list-footer {
  list-style: none;
  padding: 0 0 10px 30px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa-hands-helping,
.fa-utensils {
  padding-right: 10px;
}

.padding {
  padding-right: 18px;
}

.contact {
  text-decoration: none;
  color: white;
}

.contain-chargement {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.chargement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1;
}

.chargement::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 10px solid lightgray;
  border-top-color: #9356dc;
  border-radius: 50%;
  -webkit-transform: rotate(0.2turn);
          transform: rotate(0.2turn);
  -webkit-animation: chargement 1000ms 500ms forwards linear 2;
          animation: chargement 1000ms 500ms forwards linear 2;
}

@-webkit-keyframes chargement {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes chargement {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

.page {
  -webkit-animation: page infinite forwards;
          animation: page infinite forwards;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  opacity: 0;
}

@-webkit-keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-accueil {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.localisation {
  background-color: #e6e6e6;
  padding: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 5px 15px 5px -10px lightgrey;
          box-shadow: inset 5px 15px 5px -10px lightgrey;
  font-size: 18px;
}

@media screen and (min-width: 992px) {
  .localisation {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.conteneur-localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-localisation {
  margin-left: 10px;
  border: none;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
}

.decouverte {
  background-color: #f6f6f6;
  padding: 10px 5px 50px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .decouverte {
    width: 49%;
    margin-left: auto;
    margin-right: auto;
  }
}

.titre-decouverte {
  width: 70%;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.5em;
}

.text-decouverte {
  width: 80%;
  text-align: center;
}

.bloc-fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titre-fonctionnement {
  padding: 20px 0 10px 8%;
}

@media screen and (min-width: 992px) {
  .titre-fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
}

.bloc-etape {
  height: 80px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;
          box-shadow: 0 4px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;
}

.bloc-etape:hover {
  background-color: #f2eafb;
}

@media screen and (min-width: 992px) {
  .bloc-etape {
    width: 50%;
  }
}

.bloc-etape:hover .icone {
  color: #9356dc;
}

.bloc-etape__chiffre {
  width: 25px;
  height: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -12px;
}

.fa-circle {
  font-size: 25px;
  width: 100%;
  position: absolute;
  color: #9356dc;
}

.text-chiffre {
  position: relative;
  color: white;
}

.bloc-etape__icone {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloc-etape__text {
  font-weight: 700;
}

.icone-tel-grand {
  font-size: 20px;
}

.restaurant {
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-left: 10px;
  margin-top: 40px;
}

.contain-block-carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 992px) {
  .contain-block-carte {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.block-carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 4px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;
          box-shadow: 0 4px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;
  border-radius: 20px;
  width: 90%;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .block-carte {
    width: 40%;
    margin: 1%;
  }
}

.contain-img {
  width: 100%;
  height: 170px;
}

.img-restau {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 90px;
  background-color: #99e2d0;
  color: #268a71;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 2px;
}

h3 {
  font-size: 1rem;
}

.contain-text {
  padding-top: 25px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
}

.titre-restau {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .titre-restau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 30px;
  }
}

.info-carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  padding-top: 25px;
}

.block-carte > a {
  text-decoration: none;
  color: black;
}

.fa-heart {
  font-size: 25px;
}
/*# sourceMappingURL=monStyle.css.map */