header {
  padding-top: 20px;
  display: flex;
  margin-bottom: 15px;
}
.logo {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  @include desktop-only {
    width: 100%;
    justify-content: center;
  }
}
.fa-arrow-left {
  @include desktop-only {
    padding-right: 20px;
  }
}
