//chargement
.contain-chargement {
  width: 100%;
  @include dcenter;
  height: 600px;
  align-items: center;
  position: absolute;
}
.chargement {
  @include dcenter;
  position: absolute;
  z-index: 1;
  &::after {
    content: "";

    width: 60px;
    height: 60px;
    border: 10px solid lightgray;
    border-top-color: $color-primary;
    border-radius: 50%;
    transform: rotate(0.2turn);
    animation: chargement $chargement-dur $chargement-delay forwards linear 2;
  }
}
@keyframes chargement {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.page {
  animation: page infinite forwards;
  animation-delay: $page-delay;
  opacity: 0;
}
@keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//Heder
.header-accueil {
  padding-top: 20px;
  @include dcenter;
  margin-bottom: 15px;
}

//Section localisation
.localisation {
  background-color: #e6e6e6;
  padding: 17px 0;
  @include dcenter;
  box-shadow: inset 5px 15px 5px -10px lightgrey;
  font-size: 18px;
  @include desktop-only {
    width: 50%;
    @include marginAuto;
  }
}

.conteneur-localisation {
  @include dcenter;
}

.text-localisation {
  margin-left: 10px;
  border: none;
  background-color: #e6e6e6;
  display: flex;
  width: 170px;
}

//Section découverte
.decouverte {
  background-color: $gris-clair;
  padding: 10px 5px 50px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop-only {
    width: 49%;
    @include marginAuto;
  }
}

.titre-decouverte {
  width: 70%;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.5em;
}

.text-decouverte {
  width: 80%;
  text-align: center;
}

//Section fonctionnement
.bloc-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titre-fonctionnement {
  padding: 20px 0 10px 8%;
  @include desktop-only {
    @include dcenter;
    padding-left: 0;
  }
}

.bloc-etape {
  height: 80px;
  width: 80%;
  display: flex;
  background-color: $gris-clair;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: $shadow-block;
  &:hover {
    @include color-light($color-primary);
  }
  @include desktop-only {
    width: 50%;
  }
}
.bloc-etape:hover .icone {
  color: $color-primary;
}

.bloc-etape__chiffre {
  width: 25px;
  height: 25px;
  position: relative;
  @include dcenter;
  align-items: center;
  margin-left: -12px;
}

.fa-circle {
  font-size: 25px;
  width: 100%;
  position: absolute;
  color: $color-primary;
}

.text-chiffre {
  position: relative;
  color: white;
}

.bloc-etape__icone {
  width: 15%;
  @include dcenter;
}

.fa-mobile-alt {
  @extend %icone-color;
}

.fa-ellipsis-v {
  @extend %icone-color;
}

.fa-bars {
  @extend %icone-color;
}

.fa-store {
  @extend %icone-color;
}

.bloc-etape__text {
  font-weight: 700;
}

.icone-tel-grand {
  font-size: 20px;
}

//Article restaurant
.restaurant {
  background-color: $gris-clair;
  padding-top: 20px;
  padding-left: 10px;
  margin-top: 40px;
}

.contain-block-carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  @include desktop-only {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.block-carte {
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-block;
  border-radius: 20px;
  width: 90%;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  @include desktop-only {
    width: 40%;
    margin: 1%;
  }
}

.contain-img {
  width: 100%;
  height: 170px;
}

.img-restau {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.new {
  @include dcenter;
  align-items: center;
  height: 35px;
  width: 90px;
  background-color: $color-tertiary;
  color: #268a71;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 2px;
}
h3 {
  font-size: 1rem;
}

.contain-text {
  padding-top: 25px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.titre-restau {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  @include desktop-only {
    @include dcenter;
    padding-bottom: 30px;
  }
}

.info-carte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-top: 25px;
}

.block-carte > a {
  text-decoration: none;
  color: black;
}
.fa-heart {
  font-size: 25px;
}
