@mixin gris-fonce($color) {
  color: darken($color, 50%);
}
@mixin color-light($color) {
  background-color: lighten($color, 35%);
}
@mixin paddingLR($val1, $val2) {
  padding-left: $val1;
  padding-right: $val2;
}
@mixin dcenter {
  display: flex;
  justify-content: center;
}
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}
